/* Header */

header{
    width: 100%;
    height: 100vh;
}

.header{
    height: 10vh;
    background-color: #113B5B;
    border-bottom: solid white 2px;
}

.header-two{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: 'Poppins', sans-serif;

    background-image: url('./img/DSC01188-min-scaled.jpg'); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-two-content{
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-two-overlay{
    position: absolute;
    height: 90vh;
    background-color: #113b5b79;
    width: 100%;
    top: 0;
    left: 0;
}

.header-two-shape {
    width: 100%;
    height: 7vh;
    background-color: white;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    bottom: -1px;
    left: 0;
    position: absolute;
    z-index: 99;
}

h1 {
    color: white;
    margin: 0;
    text-align: center;
    font-size: 79px;
    font-weight: 700;
    text-transform: uppercase;
    width: 50%;
}

h3{
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Racing Sans One', sans-serif;
    color: #ffcc1d;
}

@media screen and (min-width: 1024px) {
    header{
        width: 100%;
        height: 100vh;
    }

    .header-two{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        font-family: 'Poppins', sans-serif;
        background-image: url('./img/DSC01188-min-scaled.jpg'); 
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .header-two-overlay{
        position: absolute;
        height: 90vh;
        background-color: #113b5b79;
        width: 100%;
        top: 0;
        left: 0;
    }

    h1{
        font-size: 80px;
        width: 85%;
    }

    h3{
        font-size: 30px;
    }
    
}

@media screen and (max-width: 768px) {
    header{
        width: 100%;
        height: 70vh;
    }

    .header-two{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        font-family: 'Poppins', sans-serif;
        background-image: url('./img/DSC01188-min-scaled.jpg'); 
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .header-two-overlay{
        position: absolute;
        height: 60vh;
        background-color: #113b5b79;
        width: 100%;
        top: 0;
        left: 0;
    }

    h1{
        font-size: 60px;
        width: 85%;
    }

    h3{
        font-size: 25px;
    }
    
}

@media screen and (max-width: 425px) {
    header{
        width: 100%;
        height: 60vh;
    }

    .header-two{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        font-family: 'Poppins', sans-serif;
        background-image: url('./img/DSC01188-min-scaled.jpg'); 
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .header-two-overlay{
        position: absolute;
        height: 50vh;
        background-color: #113b5b79;
        width: 100%;
        top: 0;
        left: 0;
    }

    h1{
        font-size: 30px;
        width: 85%;
    }

    h3{
        font-size: 15px;
    }
    
}

/* Titre apprenant */

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-left: 50px;
}

/* HTML */

html, body{
    margin: 0;
    padding: 0;
}

/* Trombinoscope + carte */

.trombinoscope {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.top-content:hover{
    height: 430px;
    background-color: #113B5B;
}

.top-content:hover .picture-card{
    opacity: 0.5;
    position: absolute;
    width: 325px;
    margin: 50px 0;
}

.top-content:hover .card-picture{
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.top-content:hover .title-card, .top-content:hover + .bottom-content{
    display: none;
}

.top-content:hover .extrait-card {
    display: block;
    position: relative;
    height: 100%;
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c26-card{
    height: 430px;
    width: 325px;
    background-color: #ffcc1d;
    margin: 20px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 13px;
    position: relative;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


.card-name-shape{
    border-top-left-radius: 25px;
    background-color: #113b5b;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 100% 75%, 0% 50%);
    height: 100px;
    width: 100%;
    position: absolute;
}

.title-card {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 15px;
}

.title-name{
    display: flex;
    width: 100%;
    justify-content: center;
}

.card-name, .card-surname {
    color: #ffcc1d;
    font-weight: bold;
    font-size: 18px;
    margin: 0 5px;
}

.card-surname{
    text-transform: uppercase;
}

.card-promo{
    color: #ffcc1d;
    font-weight: bold;
    font-size: 18px;
    width: 25%;
    margin: 0;
}

.card-extrait, .card-competence {
    font-weight: bold;
    text-align: center;
    margin: auto 0;
}

.card-competence{
    padding: 10px 0;
    font-family: 'Racing Sans One', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.extrait-card{
    display: none;
    width: 100%;
    color: #ffcc1d;
    font-size: 16px;
}

.picture-card{
    width: 325px;
    height: 325px;
}

.card-picture {
    width: 325px;
    height: 325px;
    object-fit: cover;
    border-top-left-radius: 25px;
}

.bottom-content{
    /* clip-path: polygon(100% 100%, 50% 100%, 0 100%, 0 0, 50% 50%, 100% 0);
    background-color: #113B5B; */
    height: 105px;
    width: 100%;
}

.competence-card {
    color: #113B5B;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 18px;
    height: 25%;
}

.links-card {
    width: 100%;
    height: 75%;
}

ul.card-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
}

.links-card ul li a {
    text-decoration: none;
    color: #113B5B;
}

.links-card ul li {
    list-style: none;
    width: 100%;
    text-align: center;
}

.links-card ul li i{
    font-size: 32px;
}

.links-card ul li i:hover{
    color: black;
}

/* Search Filter */

.search-filter {
    display: flex;
    justify-content: center;
}